/* IMAGES */
/*$img-path: '../images/' !default;



$font-body-base-small:ceil(($font-body-base * 0.75)) !default;*/

/* Font Size */
$font-base : 16px !default;
$font-11 : 11px !default;
$font-12 : 12px !default;
$font-13 : 13px !default;
$font-15 : 15px !default;
$font-14 : 14px !default;
$font-18 : 18px !default;
$font-19 : 19px !default;
$font-20 : 20px !default;
$font-22 : 22px !default;
$font-24 : 24px !default;
$font-25 : 25px !default;
$font-28 : 28px !default;
$font-30 : 30px !default;
$font-36 : 36px !default;
$font-38 : 38px !default;
$font-40 : 40px !default;

/*$line-height-base: 1.625em !default;*/

/* COLORS */
$base-color : #fafafa;
$primary-color : #333333;
$secondary-color : #787878;
$gray-color : #999999;
$light-gray : #e6e6e6;
$input-border-color : #d9d9d9;
$input-label : #666666;
$brand-color : #1d8786;
$brand-shed-light: #46b0af;
$dark-blue : #124881;

/*$brand-color-hover : #027BAA;*/

$white : #ffffff;
$white-alpha : rgba(255,255,255,.6)



